.logo-1{

    width:70px;
    height:132px;position:fixed;
    top:100px;left:0px;z-index:99999;text-indent:-9999px;background: url(http://www.designnominees.com/ribbons/designnominees-ribbon-black-left.png) no-repeat;
}

