* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#david {
    position: relative;
    top: 1%;
    left: 3%;
}
#logo {
    margin-bottom: 10%;
}
#container p {
    color: #fef504;

}
#container{
    width: 100%;
    background-image: url(img/img.jpg); 
    height: 150vh; 
    background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0 120px;
    background-position: left;
}
#david h2 {
    font-weight: 700;
    font-size: 80px; 
    line-height: 80px; 
    color: white;
    margin-bottom: 3%;
}
#boton {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    height: 60px;
    line-height: 58px;
    font-weight: 700;
    padding: 0 35px;
    border-radius: 30px;
    border: 1px solid #fff;
    text-transform: capitalize;
    margin: 4% 0 4% 0;
    text-decoration: none;
}
#boton:hover {
    transition: all 0.4s ease-in-out;
    background-color: white;
    color: white;
    color: black;
}
@media (max-width: 768px){
    #container {padding: 30px 0 100px;}
    }
@media (max-width: 1200px){
        #container {background-position: center;}
        #container {padding: 0 150px;}
        }